.accent {
    color: rgb(251, 255, 0);
  }

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.55rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-dark .navbar-brand {
  color: rgb(255,127,80);
  ;
}

.VeryStrong {
  font-size: 3.55rem;
  font-family: -apple-system-headline, BlinkMacSystemFont, sans-serif; 
  font-weight:bold;
}

.paragraph_home {
  font-size: 1.25rem;
  color: rgb(128,128,128);
  font-weight:550;
}

.title_video {
  font-size: 4.5rem;
  font-weight: bold;
}

.subtitle_video {
  font-weight: bold;
}

.btn-primary {
  color: rgb(0,0,0);
  background-color:rgb(255,127,80);
  border-color: rgb(255,127,80);
  font-weight: bold;
}

.btn-primary:hover {
  color: rgb(255,255,255);
  background-color:rgb(255,127,80);
  border-color: rgb(244, 85, 27);
  font-weight: bold;
}

.blocco_evidenza {
  background-color: lightblue;
}

header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  width: 100%;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }

  header video {
    display: none;
  }
}



